In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = '../data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
https://www.facebook.com/PythonDataScience/posts/-%E5%AF%A6%E4%BD%9C%E5%B0%8F%E6%8A%80%E5%B7%A7-%E4%BD%BF%E7%94%A8pandas%E8%BC%95%E9%AC%86%E5%AE%8C%E6%88%90one-hot-encoding-%E5%9C%A8%E6%A9%9F%E5%99%A8%E5%AD%B8%E7%BF%92%E5%BB%BA%E6%A8%A1%E5%89%8D%E8%A6%81%E5%85%88%E5%81%9A%E8%B3%87%E6%96%99%E9%A0%90%E8%99%95%E7%90%86%E5%A6%82%E6%9E%9C%E9%81%87%E5%88%B0%E9%A1%9E%E5%88%A5%E7%89%B9%E5%BE%B5categorical-features/321499564961676/
將下列部分資料片段 sub_train 使用 One Hot encoding (獨熱編碼), 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [4]:
#app_train.select_dtypes(include=['int64']).apply(pd.Series.nunique, axis = 0)

In [5]:
#算欄位裡總共有幾種屬性
app_train.select_dtypes(include=['object']).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [6]:
#app_train['WEEKDAY_APPR_PROCESS_START']

In [7]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [8]:
"""
Your Code Here
"""
sub_train = pd.DataFrame(app_train['NAME_INCOME_TYPE'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  NAME_INCOME_TYPE
0          Working
1    State servant
2          Working
3          Working
4          Working

In [9]:
app_train.select_dtypes(include=['object']).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [10]:
test_train = pd.get_dummies(app_train)
app_train['NAME_EDUCATION_TYPE'].head() #label Encoding

0    Secondary / secondary special
1                 Higher education
2    Secondary / secondary special
3    Secondary / secondary special
4    Secondary / secondary special
Name: NAME_EDUCATION_TYPE, dtype: object

In [11]:
test_train['NAME_EDUCATION_TYPE_Secondary / secondary special'].head() #one hot encoding

0    1
1    0
2    1
3    1
4    1
Name: NAME_EDUCATION_TYPE_Secondary / secondary special, dtype: uint8

In [12]:
app_train['CODE_GENDER'].head()

0    M
1    F
2    M
3    F
4    M
Name: CODE_GENDER, dtype: object

In [13]:
test_train['CODE_GENDER_F'].head()

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8