## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = '../data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [9]:
df = pd.DataFrame(app_train)
df.shape
print('Rows in Data %i' % df.shape[0])
print('Columns in Data %i' % df.shape[1])

Rows in Data 307511
Columns in Data 122

#### 列出所有欄位

In [10]:
df.columns.values

array(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG',
       'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG',
       'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
       'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
       'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI',
       'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI',
       'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI',
       'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI',
       'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype=object)

#### 截取部分資料

In [17]:
df.loc[df['FLAG_OWN_CAR'] == 'Y'] #有自己的車子

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.0,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
15,100019,0,Cash loans,M,Y,Y,0,157500.0,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.0,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,Cash loans,F,Y,Y,1,202500.0,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
24,100029,0,Cash loans,M,Y,N,2,135000.0,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,M,Y,Y,0,270000.0,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
33,100039,0,Cash loans,M,Y,N,1,360000.0,733315.5,39069.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
39,100046,0,Revolving loans,M,Y,Y,0,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
49,100056,0,Cash loans,M,Y,Y,0,360000.0,1506816.0,49927.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
51,100059,0,Cash loans,M,Y,Y,1,540000.0,675000.0,34596.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
52,100060,0,Cash loans,M,Y,N,0,76500.0,454500.0,14661.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
54,100062,0,Cash loans,M,Y,N,0,81000.0,675000.0,32472.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
58,100069,0,Cash loans,M,Y,Y,1,360000.0,640458.0,27265.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
59,100070,0,Cash loans,M,Y,Y,0,540000.0,1227901.5,46899.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
62,100073,0,Cash loans,M,Y,Y,0,324000.0,1130760.0,40189.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
64,100076,0,Cash loans,M,Y,N,0,180000.0,315000.0,9679.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
66,100078,0,Cash loans,F,Y,Y,0,180000.0,1035000.0,43983.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
69,100081,0,Cash loans,M,Y,N,0,180000.0,450000.0,21109.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
71,100083,0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
82,100097,0,Cash loans,M,Y,Y,0,157500.0,760225.5,30280.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
83,100098,0,Revolving loans,M,Y,N,0,225000.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
85,100100,0,Cash loans,M,Y,Y,2,202500.0,796396.5,38443.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
86,100101,0,Cash loans,F,Y,Y,0,202500.0,343377.0,22072.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
92,100110,0,Cash loans,M,Y,Y,3,135000.0,373140.0,25065.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
93,100111,0,Cash loans,F,Y,N,1,112500.0,862560.0,27954.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
94,100112,1,Cash loans,M,Y,Y,0,315000.0,953460.0,64107.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
95,100113,0,Cash loans,M,Y,N,0,76500.0,135000.0,6696.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307408,456141,0,Cash loans,F,Y,Y,1,112500.0,237024.0,18855.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307414,456147,0,Cash loans,F,Y,Y,2,90000.0,1078200.0,31653.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307415,456148,0,Cash loans,M,Y,Y,0,180000.0,589045.5,30204.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307416,456149,0,Cash loans,F,Y,Y,0,90000.0,327024.0,21982.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307421,456154,0,Cash loans,M,Y,Y,0,157500.0,144000.0,9751.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307425,456158,0,Revolving loans,M,Y,Y,2,234000.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307427,456160,0,Cash loans,F,Y,Y,0,270000.0,1298970.0,46786.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307434,456172,0,Cash loans,F,Y,Y,0,76500.0,163098.0,16015.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307435,456173,0,Cash loans,M,Y,Y,0,189000.0,675000.0,19737.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307437,456175,0,Cash loans,F,Y,Y,0,81000.0,180000.0,12658.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307442,456180,0,Cash loans,M,Y,Y,1,135000.0,90000.0,9580.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307445,456183,0,Cash loans,F,Y,Y,0,180000.0,990000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307449,456187,0,Cash loans,M,Y,Y,1,315000.0,1175314.5,38974.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307451,456190,0,Cash loans,M,Y,N,1,450000.0,545040.0,25407.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307452,456191,0,Cash loans,F,Y,N,2,153000.0,1350000.0,46926.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
307456,456195,0,Cash loans,F,Y,Y,0,94500.0,270000.0,15075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307459,456198,0,Cash loans,M,Y,Y,0,225000.0,959017.5,49095.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307460,456199,0,Cash loans,M,Y,N,1,382500.0,745429.5,24354.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307462,456201,0,Cash loans,F,Y,Y,3,135000.0,1024785.0,57222.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307473,456213,0,Cash loans,F,Y,Y,1,90000.0,258709.5,20439.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307474,456214,0,Cash loans,M,Y,Y,2,135000.0,360000.0,23004.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307482,456226,0,Cash loans,F,Y,Y,0,225000.0,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307484,456228,0,Cash loans,F,Y,N,0,540000.0,545040.0,35617.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307486,456230,0,Cash loans,F,Y,Y,1,292500.0,355536.0,18283.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307491,456235,0,Cash loans,M,Y,Y,2,90000.0,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,Cash loans,M,Y,Y,0,585000.0,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307494,456238,0,Cash loans,M,Y,N,1,270000.0,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,Cash loans,M,Y,N,0,180000.0,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307497,456241,0,Cash loans,F,Y,Y,0,180000.0,270126.0,12028.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307498,456242,0,Cash loans,M,Y,Y,0,198000.0,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [21]:
df.loc[df['AMT_INCOME_TOTAL'] >= 700000]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
319,100366,0,Revolving loans,M,Y,Y,0,765000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1064,101235,0,Revolving loans,F,N,Y,0,720000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1238,101461,0,Cash loans,M,Y,Y,0,810000.0,661500.0,37066.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1504,101769,0,Revolving loans,M,Y,Y,0,1080000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1586,101857,0,Cash loans,F,N,Y,0,720000.0,1125000.0,44617.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1723,102015,0,Cash loans,F,N,Y,0,1935000.0,269550.0,10534.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2009,102356,0,Cash loans,M,Y,Y,1,765000.0,1350000.0,51552.0,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,1.0
3209,103747,0,Cash loans,F,Y,Y,0,810000.0,900000.0,94509.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
3287,103838,0,Cash loans,M,Y,Y,0,810000.0,630000.0,59035.5,...,0,0,0,0,0.0,4.0,3.0,0.0,0.0,1.0
3371,103938,0,Cash loans,F,N,N,1,1350000.0,2410380.0,109053.0,...,1,0,0,0,0.0,0.0,0.0,3.0,0.0,0.0
3544,104141,0,Cash loans,F,N,Y,0,787500.0,2085120.0,72607.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
3656,104264,0,Cash loans,F,Y,Y,0,720000.0,1928304.0,71590.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4603,105384,0,Revolving loans,F,Y,Y,0,1350000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4695,105489,0,Cash loans,F,Y,Y,0,720000.0,2013840.0,55377.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
5673,106637,0,Cash loans,M,Y,Y,3,967500.0,450000.0,30073.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
6154,107189,0,Cash loans,F,Y,N,1,810000.0,360000.0,35604.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
7055,108216,0,Cash loans,F,Y,Y,0,720000.0,1255680.0,45234.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,6.0
7061,108224,0,Cash loans,F,Y,N,0,1035000.0,2695500.0,74254.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
8086,109431,0,Revolving loans,M,Y,Y,0,900000.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8314,109690,0,Cash loans,F,N,Y,0,1350000.0,427450.5,18238.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9342,110860,0,Revolving loans,M,Y,Y,0,900000.0,540000.0,54000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10222,111903,0,Revolving loans,M,N,Y,3,2250000.0,900000.0,45000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10249,111932,0,Revolving loans,F,N,Y,0,855000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10608,112362,0,Cash loans,M,Y,N,1,765000.0,675000.0,36616.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
10979,112783,0,Cash loans,M,N,N,0,720000.0,1056447.0,31018.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
11068,112894,0,Cash loans,M,Y,N,0,1350000.0,835380.0,40189.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
11344,113213,0,Cash loans,M,Y,N,0,1125000.0,701730.0,72036.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
12005,114000,0,Cash loans,M,Y,Y,0,1125000.0,848308.5,63427.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12108,114122,0,Revolving loans,M,Y,Y,0,1080000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
12374,114424,0,Cash loans,M,Y,N,0,900000.0,971280.0,56790.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293342,439846,0,Cash loans,M,Y,Y,0,1575000.0,2031651.0,188136.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
294076,440695,0,Cash loans,M,Y,Y,2,2025000.0,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
294141,440768,0,Revolving loans,M,N,Y,0,1800000.0,900000.0,45000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
294383,441052,0,Revolving loans,M,Y,Y,1,1350000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
294589,441287,0,Cash loans,F,Y,N,0,1350000.0,450000.0,21109.5,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,5.0
294892,441639,0,Revolving loans,F,N,Y,0,2250000.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
295289,442109,0,Cash loans,F,Y,Y,0,742500.0,2013840.0,55507.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
295887,442808,0,Cash loans,M,Y,N,0,742500.0,2250000.0,59355.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
295955,442886,0,Revolving loans,F,N,N,2,900000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
296216,443181,0,Cash loans,F,Y,Y,1,1125000.0,1218555.0,84937.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
296411,443413,0,Cash loans,M,Y,Y,1,810000.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
296499,443517,0,Cash loans,F,N,Y,0,810000.0,675000.0,32602.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
296608,443647,0,Cash loans,M,Y,Y,1,990000.0,877500.0,31518.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
296626,443665,0,Cash loans,F,N,N,0,1125000.0,2007000.0,53073.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
297112,444218,0,Cash loans,F,N,Y,0,900000.0,267102.0,30339.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
297755,444955,0,Cash loans,M,N,Y,0,1035000.0,1575000.0,54877.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
298082,445335,0,Cash loans,M,Y,Y,0,2475000.0,1125000.0,47794.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
298835,446196,0,Revolving loans,F,N,N,1,900000.0,900000.0,45000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
299722,447229,0,Cash loans,F,Y,Y,0,810000.0,728460.0,82516.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
300468,448102,0,Cash loans,F,N,Y,0,1575000.0,1223010.0,51948.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
301043,448766,0,Cash loans,F,N,Y,0,733500.0,1312110.0,55723.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
301058,448783,0,Cash loans,M,Y,Y,0,900000.0,1786500.0,98028.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
301728,449559,0,Revolving loans,M,Y,Y,0,900000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
304075,452302,0,Cash loans,M,Y,N,1,900000.0,1347466.5,71923.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
304477,452764,0,Cash loans,F,Y,Y,1,2025000.0,935640.0,93487.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
304993,453357,0,Cash loans,M,N,Y,0,855000.0,684738.0,22216.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
305577,454039,0,Cash loans,M,Y,Y,0,1215000.0,1264738.5,67513.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
306028,454569,0,Revolving loans,M,Y,Y,0,1350000.0,1575000.0,78750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306179,454746,0,Cash loans,M,Y,Y,1,949500.0,735579.0,35518.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306285,454864,0,Cash loans,F,N,N,1,936000.0,1014493.5,55165.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0